.explanatoryText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // margin: 5% 15%;
  padding: 5rem;
  background-color: #D0DFD5;
  border-radius: 10px;
  width: 65%;
  height: 60%;

  &--head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &--title {
    font-size: 3rem;
    text-decoration: underline;
    white-space: nowrap;
    font-family: 'Sora';
  }

  &--description {
    font-size: 2rem;
  }

  &--bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
  }
}
