.simpleButton {
  height: 35px;
  width: 100px;
  border-radius: 6px;
  transition: all 1s ease;
  background-color: #5b6dcd;
  border: none;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }

  &:disabled {
    opacity: 30%;
  }
}
